<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Robbies Speurhondenspel</title>
    <script src="../static/ruffle/ruffle.js"></script>
    <script>
        let world_name = {{ world_name|tojson }};
    </script>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          width: 150px;
        }

        li a {
          display: block;
          color: #000;
          padding: 8px 16px;
          text-decoration: none;
        }

        /* Change the link color on hover */
        li a:hover {
          background-color: #555;
          color: white;
        }
    </style>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KR2ST568ZZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('consent', 'default', {
        'ad_storage': 'denied',
        'analytics_storage': 'denied'
      });
      gtag('config', 'G-KR2ST568ZZ');
    </script>
</head>

<body style="margin:0;padding:0;overflow:hidden;background-color:#FFFFC0">
    <ul style="position: absolute; right: 0">
      <li><a href="https://lucasiscool.nl">Lucasiscool.nl</a></li>
      <li><a href="https://gitlab.com/Lucas_van_der_Horst/robbie-online">Git</a></li>
      <li><a href="../worlds_menu">Community levels</a></li>
      <li><a href="../contact">Contact</a></li>
    </ul>

    <h1 style="display: table; margin: 0 auto">{{ world_name }}</h1>
    <div style="display: table; margin: 0 auto;">
        <embed id='player' src="../static/flash/Robbie2D.swf" style="overflow:hidden" width="570" height="400">
    </div>
    <div style="display: table; margin: 0 auto">
        <p>De originele editor viel niet te vinden, dus ik heb er zelf een gemaakt: <a href="/editor/origineel"><button>Editor</button></a></p>
        <p>Hier kan je community levels spelen: <a href="/worlds_menu"><button>Community levels</button></a></p>
        <p>Of remix dit level: <a href="/editor/{{ world_name }}"><button>Remix</button></a></p>
    </div>
</body>
</html>
