<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Werelden Menu</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        #worlds {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        #worlds td, #worlds th {
          border: 1px solid #ddd;
          padding: 8px;
          word-wrap: break-word;
          max-width: 700px;
        }

        #worlds tr:nth-child(even){background-color: #f2f2f2;}

        #worlds tr:hover {background-color: #ddd;}

        #worlds th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #4CAF50;
          color: white;
        }
    </style>
    <script>
        let vote_changes = {
            {%for world_name, score in worlds_info%}
                "{{ world_name }}": 0 ,
            {%endfor%}
        }

        function vote(world_name, direction) {
            if((vote_changes[world_name] < 1 && direction==='up') || (vote_changes[world_name] > -1 && direction==='down')) {
                $.ajax({
                    type: 'POST',
                    url: '/vote',
                    data: {
                        world_name: world_name,
                        direction: direction
                    },
                    dataType: 'json',
                });
                const delta_vote = {up: 1, down: -1}[direction];
                vote_changes[world_name] += delta_vote;
                let score_block = $("[id='score_block_"+world_name+"']");
                score_block.html(parseInt(score_block.html()) + delta_vote)
            }
        }
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KR2ST568ZZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('consent', 'default', {
        'ad_storage': 'denied',
        'analytics_storage': 'denied'
      });
      gtag('config', 'G-KR2ST568ZZ');
    </script>
</head>
<body>
    <div style="display: table; margin: 0 auto">
        <p>Klik op een van de hierhonder staande werelden die mensen hebben gemaakt:</p>
        <p>Je kan ze ook aanpassen en je eigen maken.</p>
        <table id="worlds">
            <tr>
                <th>Naam</th>
                <th>Score</th>
            </tr>
            {%for world_name, score in worlds_info%}
                <tr>
                    <td onclick="window.location = '/world/{{ world_name }}'" style="cursor: pointer;">{{ world_name }}</td>
                    <td>
                        <img src="/static/images/upvote.png" width="20" height="20" onclick="vote('{{ world_name }}', 'up')" style="cursor: pointer;">
                        <p id="score_block_{{ world_name }}" style="display: inline-block;">{{ score }}</p>
                        <img src="/static/images/downvote.png" width="20" height="20" onclick="vote('{{ world_name }}', 'down')" style="cursor: pointer;">
                    </td>
                </tr>
            {%endfor%}
        </table>
    </div>
</body>
</html>