<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Level Bewerker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
      #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
      #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
      #sortable li span { position: absolute; margin-left: -1.3em; }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $( "#sortable" ).sortable();
            $( "#sortable" ).disableSelection();
        });

        function submit() {
            $.ajax({
                type: 'POST',
                url: '/add_world',
                data: {
                    world_name: $('#world_name').val(),
                    world_data: $('#xml_text').val()
                },
                success: function(data, status) {
                    if (status === 'success') {
                        window.location = '/world/' + data;
                    } else {
                        console.log('success error', data, status);
                        alert(data.responseText);
                    }

                },
                error: (data, status) => {
                    console.log('error', data, status)
                    alert(data.responseText);
                }
            });
        }

        const selection_color = '#FFDC00';
    </script>
    <style>
        .horizontal_scroll {
            overflow: auto;
            white-space: nowrap
        }
    </style>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KR2ST568ZZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('consent', 'default', {
        'ad_storage': 'denied',
        'analytics_storage': 'denied'
      });
      gtag('config', 'G-KR2ST568ZZ');
    </script>
</head>
<body>
    <div style="text-align: center"><h1>Level Bewerker</h1></div>
    <div style="height: 520px">
        <div style="position:absolute;left:0;width:calc(100% - 250px);height: 520px;text-align:center">
            <h3 id="view_level" style="position: absolute;left:10px;top:10">Level: 1</h3>
            <canvas id="map_canvas" width="600" height="400" style="cursor: pointer"></canvas>
            <div id="hotbar" class="horizontal_scroll" style="margin-top:0px;width:100%"></div>
        </div>
        <div style="position:absolute;right:0;width:250px;height: 520px;overflow-y: scroll">
            <ul id="sortable"></ul>
            <button onclick="add_level()" style="width: 100%">Maak nog een level</button>
        </div>
    </div>

    <br>
    <a href='#' class='advanced'>XML (Advanced)</a>
    <div id='advancedOptions'>
        <textarea id="xml_text" rows="28" cols="239" oninput="text_change()" onchange="text_change()">{{ world_data }}</textarea><br>
    </div>
    <br>
    <h3 style="display: inline">Naam van de wereld:</h3>
    <input id="world_name" type="text" oninput="update_submit_button()">
    <button id="submit_button" onclick="submit()">Publiceer</button>

    <script>
        let big_c = document.getElementById('map_canvas');
        let tile_ids = {{ tile_ids|safe }};
        tile_ids.sort();
        let tile_textures = {};
        // loading the textures
        let textures_loaded = 0;
        for (let tile_id of tile_ids) {
            let image = new Image();
            image.onload = () => {
                textures_loaded += 1;
                if (textures_loaded === tile_ids.length) {
                    draw_tiles(big_c);
                    add_drag_levels();
                }
            };
            image.src = '/static/tiles/' + tile_id + '.png';
            image.style.cursor = 'pointer';
            image.onclick = () => {select_tile(tile_id)};
            tile_textures[tile_id] = image;

            let div = document.createElement('div');
            div.id = 'tile_div' + tile_id;
            div.style.width = '70px';
            div.style.display = 'inline-block';
            div.style.backgroundColor = '#F6F6F6';
            div.style.borderRadius = '20px';
            div.appendChild(image);
            document.getElementById('hotbar').appendChild(div);
        }

        const map_width = 12, map_height = 9;
        const b_tile_width = 55, b_tile_height=40;
        const tsx=-0.15, tsy=-1.2, tex=0.16, tey=0.06;
        const wxo=0.156, wyo=1.2;

        function draw_tiles(c, l=-1, tile_width=-1, tile_height=-1) {
            if (l === -1) {l = viewing_level}
            if (tile_width === -1) {tile_width=b_tile_width; tile_height=b_tile_height}
            const level = levels[l];
            c.width = tile_width*map_width+wxo*tile_width;
            c.height = tile_height*map_height+wyo*tile_height;
            let ctx = c.getContext('2d');
            ctx.clearRect(0, 0, c.width, c.height);
            for (let y=0; y<map_height; y++) {
                for (let x=0; x<map_width; x++) {
                    const tile_id = level[y*map_width+x];
                    if (tile_textures[tile_id] !== undefined) {
                        ctx.drawImage(
                            tile_textures[tile_id],
                            x*tile_width+(tsx+wxo)*tile_width,
                            y*tile_height+(tsy+wyo)*tile_height,
                            tile_width+(tex-tsx)*tile_width,
                            tile_height+(tey-tsy)*tile_height
                        );
                    } else {
                        console.log("don't have the texture for tile-id " + tile_id);
                    }
                }
            }
        }

        function xml2internal(xml_string) {
            let parser = new DOMParser();
            const xml_object = parser.parseFromString(xml_string, 'text/xml');
            let maps = [];
            for (let map of xml_object.children[0].children) {
                const map_string = map.attributes.map.value;
                if (map_string.length !== 216) {
                    throw 'not valid level xml';
                }
                let level = [];
                for (let i = 0; i < map_string.length; i += 2) {
                    level.push(map_string.slice(i, i + 2));
                }
                maps.push(level);
            }
            return maps;
        }
        function internal2xml() {
            let xml_string = "<RobbieMaps>\n";
            for (let level of levels) {
                xml_string += '    <RobbieMap map="' + level.join('') + '"/>\n';
            }
            xml_string += '</RobbieMaps>';
            return xml_string;
        }
        let levels = [];
        let viewing_level = 0;
        let selected_tile = undefined;

        function text_change() {
            try {
                levels = xml2internal(document.getElementById('xml_text').value);
                draw_tiles(big_c);
                add_drag_levels();
                for (let i=0; i<drag_levels.length; i++) {
                    draw_tiles(drag_levels[i].childNodes[1], i, 15, 15);
                }
            } catch (e) {

            }
        }

        function select_tile(tile_id) {
            if (selected_tile !== undefined) {
                tile_textures[selected_tile].style.cursor = 'pointer';
                let old_div = document.getElementById('tile_div'+selected_tile);
                old_div.style.backgroundColor = '#F6F6F6';
            }
            tile_textures[tile_id].style.cursor = 'initial';
            let new_div = document.getElementById('tile_div'+tile_id);
            new_div.style.backgroundColor = selection_color;
            selected_tile = tile_id;
        }

        big_c.addEventListener('mousedown', (e) => {
            if (selected_tile !== undefined) {
                const rect = big_c.getBoundingClientRect();
                const tile_x = Math.floor((e.clientX-rect.left-wxo*b_tile_width) / b_tile_width);
                const tile_y = Math.floor((e.clientY-rect.top-wyo*b_tile_height) / b_tile_height);
                levels[viewing_level][tile_y*map_width+tile_x] = selected_tile;
                draw_tiles(big_c);
                draw_tiles(drag_levels[viewing_level].childNodes[1], viewing_level, 15, 15);
                document.getElementById('xml_text').value = internal2xml(levels);
            } else {
                alert('Selecteer eerst een tegel van hier beneden');
            }
        });

        let drag_levels = [];
        function add_drag_levels() {
            drag_levels.forEach(elem => elem.remove());
            drag_levels = [];

            for (let i=0; i<levels.length; i++) {
                let list_item = document.createElement('li');
                drag_levels.push(list_item);
                list_item.setAttribute('level_id', i);
                list_item.className = 'ui-state-default';
                list_item.innerHTML = '<span class="ui-icon ui-icon-trash" style="cursor: pointer" onclick="remove_level('+i+')"></span>';
                list_item.style = "width:180px; height:150px;cursor:grab";
                let c = document.createElement('canvas');
                c.style.cursor = 'pointer';
                list_item.appendChild(c);
                list_item.onclick = () => {
                    if (drag_levels[viewing_level] !== undefined) {
                        drag_levels[viewing_level].style.backgroundColor = '#F6F6F6';
                    }
                    viewing_level = i;
                    list_item.style.backgroundColor = selection_color;
                    draw_tiles(big_c);
                    document.getElementById('view_level').innerText = 'Level: ' + (i+1);
                };
                document.getElementById('sortable').appendChild(list_item);
                draw_tiles(c, i, 15, 15);
            }
            drag_levels[0].style.backgroundColor = selection_color;
        }

        text_change();

        $(function() {
            $('#sortable').sortable({
                update: () => {
                    const order = $('#sortable').sortable('toArray', {attribute: 'level_id'});
                    let new_levels = [];
                    order.forEach(level_id => {
                        new_levels.push(levels[level_id]);
                    });
                    levels = new_levels;

                    add_drag_levels();

                    document.getElementById('xml_text').value = internal2xml(levels);
                }
            });
        });

        $(document).ready(function () {
            $('#advancedOptions').hide();
            $('.advanced').click(function() {
                if ($('#advancedOptions').is(':hidden')) {
                     $('#advancedOptions').slideDown();
                } else {
                     $('#advancedOptions').slideUp();
                }
            });
        });

        function add_level() {
            levels.push(Array(108).fill('01'));
            viewing_level = levels.length - 1;
            draw_tiles(big_c);
            add_drag_levels();
            document.getElementById('xml_text').value = internal2xml();
        }

        function remove_level(level_id) {
            levels.splice(level_id, 1);
            viewing_level = 0;
            draw_tiles(big_c);
            add_drag_levels();
            document.getElementById('xml_text').value = internal2xml();
        }

        function update_submit_button() {
            document.getElementById("submit_button").disabled = document.getElementById("world_name").value === "";
        }
        update_submit_button();
    </script>
</body>
</html>